<!-- <label class="image-upload-container btn btn-bwm">-->
  <span>Select Image</span>
  <br>
  <!-- <input #file type="file" accept='image/*' (change)="preview(file.files)" /> -->
  <input #file type="file" accept='image/*' (change)="preview(file.files)"

 
         >
         <br>
         <img [src]="imgURL | defaultImage"  />
         


<p>l'image est la suivante : {{imagename|defaultImage}}</p>

 <!-- (change)="processFile(imageInput)"> 
<img [src]="imageInput | defaultImage"  />


-->
 <!-- <img [src]="filename | pathPipe" (error)="filename = '/path/to/fallback.jpg'" /> -->
 
